.env

# dependencies
node_modules

# testing
/coverage

# next.js
.next/
out/

# production
build

# misc
.vscode
.cursorrules
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# db
docker/volumes/db/data
docker/volumes/storage
docker/volumes/search/data

# generated
src/script/generated