@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 639px) {
  html {
    font-size: 20px;
  }
}

body {
  @apply text-foreground;
}

::selection {
  @apply bg-warning text-warning-foreground;
}

::-moz-selection {
  @apply bg-warning text-warning-foreground;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 0;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.7);
}

@layer base {
  :root {
    --font-sans-default: "Noto Sans", sans-serif;
    --font-serif-default: "Noto Serif", serif;
    --font-mono-default: "Noto Sans Mono", monospace;
    --font-sans-arabic: "Noto Sans Arabic", sans-serif;
    --font-serif-arabic: "Noto Naskh Arabic", serif;
    --font-mono-arabic: "Noto Kufi Arabic", monospace;
  }
}

@layer utilities {
  .font-sans-arabic {
    font-family: var(--font-sans-arabic);
  }

  .font-serif-arabic {
    font-family: var(--font-serif-arabic);
  }

  .font-mono-arabic {
    font-family: var(--font-mono-arabic);
  }
}

@layer base {
  @font-face {
    font-family: var(--noto-naskh-arabic);
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
  }

  @font-face {
    font-family: var(--noto-sans-arabic);
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
  }

  @font-face {
    font-family: var(--noto-mono-arabic);
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
  }
}