<style>
    body {
        font-family: sans-serif;
        text-align: center;
    }
</style>

<img src="https://raw.githubusercontent.com/skyline-apps/curio/refs/heads/main/src/web/public/logo/curio_logo.png"
    alt="Curio" />
<h1>Curio</h1>
<h2>Confirm your signup</h2>

<p>Follow this link to confirm your Curio account. This link will only work once and expires in one hour.</p>
<p><a href="{{ .SiteURL }}/login/redirect?email={{ .Email }}&redirectTo={{ .ConfirmationURL }}">Confirm your email</a>
</p>