curio_app_secret = "xxxxxx"  # Keep in sync with `CURIO_APP_SECRET` in `.env`
curio_email_api_endpoint = "https://staging.curi.ooo/api/v1/public/items/email"
receiver_email_domain = "mail.curi.ooo"  # Keep in sync with `CURIO_EMAIL_DOMAIN` in `.env`
sender_email_domain = "no-reply.curi.ooo"
gcp_project_id = "my-project-id"
email_healthcheck_error_endpoint = "xxxxxx"  # Should take query params ?success={success}&error={error}
email_healthcheck_warn_endpoint = "xxxxxx"  # Should take query params ?success={success}&error={error}
email_healthcheck_token = "xxxxxx"  # Passed in Authorization: Bearer header
project_forwarding_email_address = "your-email@example.com"  # Address to forward sender domain emails to
